
$theme-colors: (
    "primary":    #2c3e50,
    "secondary":  #1d6042,
    "success":    #198754,
    "info":       #0dcaf0,
    "warning":    #ffc107,
    "danger":     #dc3545,
    "light":      #f8f9fa,
    "dark":       #343a40,
);


@import 'node_modules/bootstrap/scss/bootstrap.scss';


body {
    --bs-bg-opacity: 0.1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    font-family: Big Caslon;
}

.subtitulos {
    background: linear-gradient(to right, rgba(58,162,215,1) 0%, rgba(47,98,164,1) 100%);
    color: whitesmoke;
    border-radius: 4px;
}

.divComponent {
    border-style: ridge; 
    Background-color: #FBFCFC;
}